<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="http://schema.phpunit.de/4.8/phpunit.xsd"
         backupGlobals="false"
         colors="true"
         bootstrap="src/vendor/autoload.php"
>


<testsuites>
   <testsuite name="Project Test Suite">
            <directory>unit-tests/aunmap/</directory>
            <directory>unit-tests/authplugins/</directory>
   </testsuite>
</testsuites>

   <filter>
        <whitelist>
            <directory>src</directory>
            <exclude>
                <directory>src/vendor</directory>
            </exclude>
        </whitelist>
    </filter>
</phpunit>
